##
## Example environment file. These variables will be passed to the API server.
## Copy and rename this file to '.env' in the '/conf' folder to begin using it.
##


# api_NODE_ENABLE_TESTING:         < enabled, disabled >              whether or not to enable the /testing route. 




api_NODE_ENABLE_TESTING='enabled'